.character-profile {
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 800px) {
    .character-profile {
        width: 45%;
    }
}
@media (max-width: 500px) {
    .character-profile {
        width: 90%;
    }
}
.character-profile h2 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 2rem;
}

.character-profile h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.character-profile {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.character-profile button {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-decoration: none;
    background: white;
    border: 2px solid black;
    color: black;
    font-size: 2.2rem;
    padding: 12px 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

.character-profile button:hover {
    color: white;
    background-color: black;
    border-color: white;
}
.character-profile button:focus {
    outline: none;
}
.character-profile button:active {
    transform: scale(0.99);
}
